//variable color
$electrikBlue:#3564CF;
$electrikRed:#DF2035;

@font-face {
  font-family: 'american';
  src: url('../fonts/American Captain.otf');
  src: url('../fonts/American Captain.otf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
    #wrapper {
      position: absolute;
      overflow: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-top: 7vh solid $electrikBlue;
      border-bottom: 7vh solid $electrikBlue;
      border-right: 3vw solid $electrikBlue;
      border-left: 3vw solid $electrikBlue;
    }
    p{
      text-indent:2em;
    }
}

h1{
  font-weight: 900;
  font-size: 40px;
}

nav{
  margin-top: 5vh;
  .nav>li{
    padding-bottom: 10px;
  }

  .nav>li>a{
    font-size: 20px;
    font-family: 'american';
    font-weight: bold;
  }

  .nav-pills>li>a {
    border-radius: 0px !important;
  }

  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: $electrikRed;
  }
}

.flotte{
  float:left;
  margin-right: 15px;
}

.logo{
  position: absolute;
  bottom:0;
  right: 0
}

.flex{
  display:flex;
  align-items: center;
  justify-content:space-around;
}